body {
    padding-top: 56px;
}

a:link {
    text-decoration: none;
    color: tomato
}

a:visited {
    color: blue;
}

a:hover {
    color: chartreuse;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.btn-group {
    width: 80%;
    height: auto;
}

.nav-item {
    color: blue;
    size: 20px;
}